.table {
    --header-background: transparent;
    --border-color: var(--gray-3);
    --border-radius: var(--radius-3);
    --cell-padding: var(--space-2);
}

.table.surface {
    --header-background: var(--gray-3);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.table.surface > .row:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
}

.table.ghost > .row {
    border-bottom: 1px solid var(--border-color);
}

.header-row {
    background-color: var(--header-background);
}

.cell {
    padding: var(--cell-padding);
}

.table.space-1 {
    --cell-padding: var(--space-1);
}

.table.space-2 {
    --cell-padding: var(--space-2);
}

.table.space-3 {
    --cell-padding: var(--space-3);
}
