.table {
    --header-background: transparent;
    --border-color: var(--gray-3);
    --table-radius: 0;
    --cell-padding: var(--space-2);
    --row-height: auto;
}

.table.surface {
    --table-radius: var(--radius-3);
    --header-background: var(--gray-3);

    border: 1px solid var(--border-color);
    border-radius: var(--table-radius);
    overflow: hidden;
}

.table.surface.rounded-none {
    --table-radius: 0;
}

.row {
    height: var(--row-height);
}

.table.surface > .row:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
}

.table.ghost > .row {
    border-bottom: 1px solid var(--border-color);
}

.header-row {
    background-color: var(--header-background);
}

.cell {
    padding: var(--cell-padding);
}

.table.space-1 {
    --cell-padding: var(--space-1);
}

.table.space-2 {
    --cell-padding: var(--space-2);
}

.table.space-3 {
    --cell-padding: var(--space-3);
}
